//scss-lint:disable NestingDepth SelectorDepth
//============Navbar Start============//

.nav-wrapper {
  background-color: $blue;
  box-shadow: 0 0 2px 2px $light-black;
  height: 65px;
  position: relative;

  .navbar {
    background-color: $blue;
    color: $white;
    position: fixed;
    width: 100%;

    .brand-logo {
      background-color: $dark-blue;
      float: left;
      height: 65px;
      padding: 0 10px;
      width: 250px;

      img {
        margin-top: 10px;
        width: 200px;
      }
    }

    .menu {
      margin: 20px;

      i {
        font-size: 25px;
      }
    }

    .navbar-options {
      float: right;
      margin: 10px 25px;

      li {
        display: inline-block;
        padding: 0 15px;

        a {
          color: $white;
          display: block;

          i {
            font-size: 25px;
            position: relative;
            text-align: center;
            vertical-align: middle;
          }

          img {
            border-radius: 50%;
            display: inline;
            height: 30px;
            width: 30px;
          }
        }
      }

      .badge-envelope::after {
        background-color: $green;
        border: 1px solid $green;
        content: '4';
      }

      .badge-bell::after {
        background-color: $orange;
        border: 1px solid $orange;
        content: '19';
      }

      .badge-flag::after {
        background-color: $red;
        border: 1px solid $red;
        content: '10';
      }
    }
  }
}

//===============Navbar Ends==========//

//==============Sidebar==============//

.sidebar {
  background-color: $cinder;
  color: $light-grey;
  height: 100%;
  padding: 20px 0;
  position: fixed;
  width: 250px;

  .user-info {
    padding: 0 10px;

    .user-img {
      display: inline-block;

      img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }
    }

    .user-name {
      display: inline-block;
      margin-left: 20px;
      vertical-align: top;

      i {
        color: $green;
        margin-right: 10px;
      }
    }

    .search-container {
      background-color: $input-black;
      border-radius: 4px;
      margin: 20px 0 10px;
      padding: 6px 10px;

      input {
        background-color: $input-black;
        width: 90%;
      }
    }
  }

  .sidebar-header {
    background-color: $dark-black;
    color: $dark-green;
    font-size: 14px;
    line-height: 30px;
    padding: 10px;
    text-transform: uppercase;
  }

  .navigation-menu,
  .label-menu {
    a {
      color: $font-black;
      display: block;
      margin: 5px 0;
      padding: 5px 10px;

      i {
        padding-right: 15px;
        }
      }
  }
}

.navigation-menu a:hover {
  background-color: $black;
  border-left: 2px solid $white;
}


//===============sidebar Ends========//

//===============dashboard==========//


.dashboard-container {
  background-color: $background-white;
  float: left;
  height: 100%;
  margin-left: 250px;
  padding: 20px 10px;
  width: 83%;

  .dashboard-header {
    span {
      color: $font-black;
      font-size: $font-14;
    }
  }

  .dashboard-menu {
    float: right;

    li {
      display: inline-block;
      padding: 0 10px;

      a {
        color: $font-black;
      }
    }
  }

  .dashboard-analysis {
    background: $white;
    display: inline-block;
    height: 100px;
    margin: 20px 20px 20px 0;
    width: 23%;

    .analysis-icon {
      display: inline-block;
      height: 100%;
      margin: auto;
      text-align: center;
      width: 35%;

      i {
        color: $white;
        font-size: 35px;
        margin: 30px 0;
      }
    }

    .analysis-value {
      display: inline-block;
      width: 62%;

      h4 {
        font-size: $font-16;
        text-transform: uppercase;
      }
    }
  }

  .month-report {
    background-color: $white;
    height: 100%;
    padding: 10px 0;
    width: 100%;

    .month-header {
      border-bottom: 1px solid $border-grey;
      padding: 10px 0;

      h2 {
        font-size: $font-20;
      }

      .month-header-menu {
        float: right;

        li {
          display: inline-block;
          padding: 0 10px;

          i {
            color: $border-grey;
          }
        }
      }
    }

    .month-graph {
      float: left;
      height: 100%;
      padding: 10px;
      width: 60%;

      h3 {
        font-size: $font-16;
        text-align: center;
      }

      img {
        margin: 30px 0 0;
        width: 100%;
      }
    }

    .month-analysis-bar {
      float: left;
      height: 100%;
      padding: 10px;
      width: 40%;

      h3 {
        font-size: $font-16;
        margin-bottom: 20px;
        text-align: center;
      }

      .progress-header {
        margin: 10px 0;
        text-transform: capitalize;

        span {
          float: right;
        }
      }

      .progress-bars {
        background-color: $border-grey;
        height: 15px;
        line-height: 15px;
        width: 100%;

        div {
          height: 15px;
          line-height: 15px;
          width: 75%;
        }
      }
    }

    .month-summary-wrapper {
      border-top: 1px solid $border-grey;
      width: 100%;

      .month-summary {
        display: inline-block;
        margin: 10px 0;
        text-align: center;
        width: 24%;

        h3 {
          font-size: 18px;
          margin: 5px 0;
          text-transform: uppercase;
        }
      }
    }
  }

  .visitors-section {
    background-color: $transparent;
    width: 100%;

    .visitors-report {
      background-color: $white;
      float: left;
      height: 100%;
      margin: 20px 0;
      width: 60%;

      .visitors-header {
        border-bottom: 1px solid $border-grey;
        border-top: 2px solid $green;
        line-height: 40px;

        .visitors-header-menu {
          float: right;

          li {
            display: inline-block;
            padding: 0 10px;
          }
        }

        h2 {
          padding-left: 10px;
         }
      }
    }

    .map-container {
      float: left;
      width: 70%;

      img {
        height: 333px;
        width: 100%;
      }
    }

    .map-analysis {
      background-color: $green;
      float: left;
      width: 30%;

      .map-data {
        background-color: $transparent;
        color: $white;
        margin: 30px 0 15px;
        text-align: center;

        i {
          font-size: 30px;
        }

        h3 {
          font-size: $font-16;
          margin: 5px 0;
        }

        h2 {
          font-size: $font-16;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }

    .visitors-data {
      background-color: $transparent;
      float: left;
      height: 100%;
      margin-top: 20px;
      width: 40%;

      .data-details {
        color: $white;
        height: 100px;
        margin: 0 0 10px 20px;

        .data-image {
          float: left;
          height: 100px;
          line-height: 100px;
          position: relative;
          text-align: center;
          width: 30%;

          i {
            font-size: $font-30;
          }
        }

        .overlay {
          background-color: $light-black;
          bottom: 0;
          height: 100px;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
        }

        .data-report {
          float: left;
          padding: 10px;
          width: 70%;

          h3 {
            font-size: $font-14;
            font-weight: 300;
            margin: 5px 0;
            text-transform: uppercase;
          }

          .data-progress-bar {
            background-color: $border-grey;
            height: 5px;
            line-height: 5px;
            margin-bottom: 10px;
            width: 100%;

            div {
              background-color: $white;
              height: 5px;
              line-height: 5px;
              width: 70%;
            }
          }
        }
      }
    }
  }
}

//===============dashboard ends======//

//===============media queries======//
@media only screen and (min-width:1024px) and (max-width:1440px) {
  .dashboard-container {

    .dashboard-analysis {
      width: 22%;

      .analysis-value {
        h4 {
          font-size: $font-14;
        }
      }
    }
  }


}

@media only screen and (min-width:768px) and (max-width:1023px) {
  .sidebar {
    display: none;
  }

  .dashboard-container {
    margin-left: 0;
    width: 100%;

    .dashboard-analysis {
      width: 22%;

      .analysis-value {
        h4 {
          font-size: $font-14;
        }
      }
    }
  }
}


@media only screen and (min-width:768px) and (max-width:810px) {
  .dashboard-container {
    .dashboard-analysis {
      width: 21%;

      .analysis-value {
        h4 {
          font-size: $font-14;
        }
      }
    }
  }
}

@media only screen and (min-width:320px) and (max-width:767px) {
  .sidebar {
    display: none;
  }

  .dashboard-container {
    margin-left: 0;
    width: 100%;

    .dashboard-analysis {
      margin: 20px 15px;
      width: 45%;
    }

    .month-report {
      margin: auto;
      width: 95%;

      .month-graph {
        width: 100%;
      }

      .month-analysis-bar {
        width: 100%;
      }

      .month-summary-wrapper {
        .month-summary {
          border-right: 0;
          width: 49%;
        } 
      }
    }

    .visitors-section {
      margin: auto;
      width: 95%;

      .visitors-report {
        width: 100%;
      }

      .visitors-data {
        width: 100%;
      }
    }
  }
}









//===========media queries ends=======//
