//scss-lint:disable NestingDepth SelectorDepth
//============Navbar Start============//

.nav-wrapper {
  background-color: $blue;
  box-shadow: 0 0 2px 2px $light-black;
  height: 65px;
  position: relative;

  .navbar {
    color: $white;
    position: fixed;
    width: 100%;

    .brand-logo {
      background-color: $dark-blue;
      float: left;
      height: 65px;
      padding: 0 10px;
      width: 250px;

      img {
        margin-top: 10px;
        width: 200px;
      }
    }

    .menu {
      margin: 20px;

      i {
        font-size: 25px;
      }
    }

    .navbar-options {
      float: right;
      margin: 10px 25px;

      li {
        display: inline-block;
        padding: 0 15px;

        a {
          color: $white;
          display: block;

          i {
            font-size: 25px;
            position: relative;
            text-align: center;
            vertical-align: middle;
          }

          img {
            border-radius: 50%;
            display: inline;
            height: 30px;
            width: 30px;
          }
        }
      }

      .badge-envelope::after {
        background-color: $green;
        border: 1px solid $green;
        content: '4';
      }

      .badge-bell::after {
        background-color: $orange;
        border: 1px solid $orange;
        content: '19';
      }

      .badge-flag::after {
        background-color: $red;
        border: 1px solid $red;
        content: '10';
      }
    }
  }
}

//===============Navbar Ends==========//

//==============Sidebar==============//

.sidebar {
  background-color: $cinder;
  color: $light-grey;
  height: 100%;
  padding: 20px 0;
  position: fixed;
  width: 250px;

  .user-info {
    padding: 0 10px;
    .user-img {
      display: inline-block;

      img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
      }
    }

    .user-name {
      display: inline-block;
      margin-left: 20px;
      vertical-align: top;

      i {
        color: $green;
        margin-right: 10px;
      }
    }

    .search-container {
      background-color: $input-black;
      border-radius: 4px;
      margin: 20px 0 10px;
      padding: 6px 10px;

      input {
        background-color: $input-black;
        width: 90%;
      }
    }
  }

  .sidebar-header {
    background-color: $dark-black;
    color: $dark-green;
    font-size: 14px;
    line-height: 30px;
    padding: 10px;
    text-transform: uppercase;
  }

  .navigation-menu,
  .label-menu {
    a {
      color: $font-black;
      display: block;
      margin: 5px 0;
      padding: 5px 10px;

      i {
        padding-right: 15px;
        }
      }
  }
}

.navigation-menu a:hover {
  background-color: $black;
  border-left: 2px solid $white;
}






















//===============sidebar Ends========//
