//=========font-family==========//
@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/roboto/Roboto-Regular') format('truetype'),
    url('fonts/roboto/Roboto-Regular') format('woff'),
    url('fonts/roboto/Roboto-Regular') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('fonts/roboto/Roboto-Medium') format('truetype'),
    url('fonts/roboto/Roboto-Medium') format('woff'),
    url('fonts/roboto/Roboto-Medium') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('fonts/roboto/Roboto-Bold') format('truetype'),
    url('fonts/roboto/Roboto-Bold') format('woff'),
    url('fonts/roboto/Roboto-Bold') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('fonts/roboto/Roboto-Thin') format('truetype'),
    url('fonts/roboto/Roboto-Thin') format('woff'),
    url('fonts/roboto/Roboto-Thin') format('woff2');
  font-weight: 200;
}



//==========color============//

$transparent: transparent;
$white: #fff;
$background-white: #eee;
$black: #000;
$border-grey: #ccc;
$light-grey: #f7f7f7;
$light-black: rgba(0, 0, 0, .2);
$blue: #218dbf;
$dark-blue: #1e7faa;
$green: #00B05B;
$orange: #FD9800;
$red: #EE2623;
$light-blue: #00C2F2;
$cinder: #202D31;
$input-black: #344851;
$dark-black: #182225;
$dark-green: #213B4B;


//=========fonts============//
$font-30: 30px;
$font-24: 24px;
$font-22: 22px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;


