body,
html {
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
button,
input,
select,
textarea,
table tr td {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

ul li {
  list-style: none;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}
p,
ul li,
a,
button,
input,
label,
select,
textarea,
table tr td {
  font-size: 16px;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-options li {
  display: inline-block;
  vertical-align: middle;
}

.menu {
  margin-left: 50px;
}

.menu i {
  font-size: 30px;
}

.search {
  background-color: #ECEBEB;
  color: #999;
  line-height: 40px;
  margin-left: 15px;
  padding-left: 10px;
  width: 40%;
}

.sidebar {
  background-color: #2E3A4D;
  margin-top: 80px;
  padding: 20px;
  position: fixed;
  height: 100%;
  width: 15%;
}

.sidebar-options {
  height: 100%;
  position: relative;
}

.sidebar-name {
  border-bottom: 1px solid #4A5469;
  color: #fff;
  padding-bottom:10px;
  margin-bottom: 15px;
}

.sidebar-name div {
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
}

.sidebar-name div h1 {
  left: 17px;
  position: relative;
  top: 10px;
}

.sidebar-menu {
  color:#fff;;
  margin-bottom: 20px;
}

.sidebar-menu i {
  margin-right: 15px;
}

.sidebar-logout {
  bottom: 110px;
  color: #f4f4f4;
  position: absolute;
  text-transform: uppercase;
}

.sidebar-logout i {
  margin: 0 10px;
}















