body,
html {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
button,
input,
select,
textarea,
table tr td {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

ul li {
  list-style: none;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}
p,
ul li,
a,
button,
input,
label,
select,
textarea,
table tr td {
  font-size: 16px;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

/*--------navbar--------*/

.navbar {
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-options li {
  display: inline-block;
  vertical-align: middle;
}

.menu {
  margin-left: 50px;
}

.menu i {
  font-size: 30px;
}

.search {
  background-color: #ECEBEB;
  color: #999;
  line-height: 40px;
  margin-left: 15px;
  padding-left: 10px;
  width: 40%;
}

.sidebar {
  background-color: #2E3A4D;
  margin-top: 80px;
  padding: 20px;
  position: fixed;
  height: 100%;
  width: 15%;
}

.sidebar-options {
  height: 100%;
  position: relative;
}

.sidebar-name {
  border-bottom: 1px solid #4A5469;
  color: #fff;
  padding-bottom:10px;
  margin-bottom: 15px;
}

.sidebar-name div {
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
}

.sidebar-name div h1 {
  left: 17px;
  position: relative;
  top: 10px;
}

.sidebar-menu {
  color:#fff;;
  margin-bottom: 20px;
}

.sidebar-menu i {
  margin-right: 15px;
}

.sidebar-logout {
  bottom: 110px;
  color: #f4f4f4;
  position: absolute;
  text-transform: uppercase;
}

.sidebar-logout i {
  margin: 0 10px;
}

/*--------landingpage--------*/

.landing-page {
  background-color: #fff;
  height: 100%;
  margin-top: 80px;
  padding: 20px;
  position: absolute;
  left: 18%;
  width: 60%;
}

.landing-heading {
  display: inline-block;
  width: 80%;
}

.landing-heading span {
  color: #437AF7;
}

.landing-heading i {
  color: #FFA500;
  padding-left: 20px;
}

.add-member {
  background-color: #437AF7;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.landing-page h6 {
  color: #FFA500;
  margin-top: 5px;
  text-transform: uppercase;
}

.dropdown {
  border-bottom: 1px solid #437AF7;
  float: right;
  position: relative;
  right: 40px;
}

.dropdown select{
  background: #fff;
  border: 0;
  width: 50px;
  outline: 0;
}

.name-list {
  width: 95%;
}

.name-list  li {
  border-bottom: 1px solid #E1E8EA;
  padding: 10px 0;
}

.letter-style {
  background-color: #415B65;
  border-radius: 50%;
  display: inline-block;
  height: 35px;
  width: 35px;
}

.letter-style h3 {
  color:#fff;
  left: 15px;
  position: relative;
  top: 2px;
}

.name-box {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.name-box p:nth-child(1) {
  color: #444;
}

.name-box p:nth-child(2) {
  color: #999;
  font-size: 12px;

}

.make-owner {
  background: #009CAA;
  border-radius: 3px;
  border: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  float: right;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  top: 10px;
}

.plus-button {
  background: #437AF7;
  border: none;
  border-radius: 50%;
  bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fff;
  height: 61px;
  position: fixed;
  right: 350px;
  outline: none;
  width: 60px;
}






/*--------organizationinfo--------*/

.organization-info {
  background-color: #FAFAFA;
  height: 100%;
  margin-top: 80px;
  padding: 20px;
  position: absolute;
  left: 78%;
  width: 19%;
}






  





