body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
button,
input,
select,
textarea,
table tr td {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
input {
  border: 0;
  outline: 0;
}

h1 {font-size: 22px; font-weight: 400;}
h2 {font-size: 20px; font-weight: 300;}
h3 {font-size: 18px; font-weight: 300;}
h4 {font-size: 16px; font-weight: 300;}
h5 {font-size: 14px; font-weight: 200;}
h6 {font-size: 12px; font-weight: 200;}
p,
ul li,
a,
input,
label,
select,
textarea,
table tr td {
  font-size: 16px;
}

button {
  cursor: pointer;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button {
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  outline: none;
  padding: 0 10px;
  text-transform: uppercase;
}

.flat-button {
  border: 0;
  background-color: transparent;
  color: #FFA48C;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

/*--------navbar--------*/

.navbar-container {
  height: 60px;
  position: relative;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.brand-logo {
  float: left;
}

.menu {
  float: left;
  margin: 15px 50px;
}

.menu i {
  font-size: 30px;
}

.search-container {
  background-color: #ECEBEB;
  box-sizing: border-box;
  border-radius: 3px;
  float: left;
  padding: 5px 10px;
  margin: 15px;
  width: 40%;
}

.search-container input[type=search] {
  background-color: #ECEBEB;
  margin-left: 10px;
  width: 90%;
}

/*--------sidebar--------*/

.sidebar {
  background-color: #2E3A4D;
  height: 100%;
  position: fixed;
  width: 240px;
}

.sidebar-options {
  padding:20px;
}

.sidebar-name {
  border-bottom: 1px solid #4A5469;
  color: #fff;
  padding-bottom:10px;
  margin-bottom: 15px;
}

.sidebar-name div {
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  width: 50px;
}

.sidebar-menu {
  color: #fff;;
  margin-bottom: 20px;
}

.sidebar-menu i {
  margin-right: 15px;
}

.sidebar-logout {
  bottom: 80px;
  color: #f4f4f4;
  position: absolute;
  text-transform: uppercase;
}

.sidebar-logout i {
  margin: 0 10px;
}

/*--------landingpage--------*/
.container {
  float: left;
  margin-left: 240px;
}

.landing-page {
  background-color: #fff;
  float: left;
  height: 500px;
  overflow-y: scroll;
  padding: 20px 30px;
  width: 70%;
}

.landing-heading {
  display: inline-block;
}

.landing-heading span {
  color: #437AF7;
}

.landing-heading i {
  color: #FFA500;
  padding-left: 20px;
}

.download {
  background-color: #fff;
  border: 0;
  font-size: 20px;
  outline: none;
}

.add-member {
  background-color: #437AF7;
  float: right;
}

.landing-page h5 {
  color: #FFA500;
  margin-top: 5px;
  text-transform: uppercase;
}

.dropdown {
  float: right;
}

.dropdown p {
  color: #437af7;
  display: inline-block;
  font-size: 13px;
}

.dropdown span {
  border-bottom: 1px solid #437AF7;
}

.dropdown span select {
  background: #fff;
  border: 0;
  display: inline-block;
  outline: 0;
  width: 50px;
}

.members-list {
  width: 100%;
}

.members-list  li {
  border-bottom: 1px solid #E1E8EA;
  padding: 10px 0;
}

.user-icon {
  background-color: #415B65;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  line-height: 35px;
  height: 35px;
  text-align: center;
  width: 35px;
}

.user-info {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.user-name {
  color: #444;
}

.user-email {
  color: #999;
  font-size: 12px;
}

.user-owner {
  color:#888;
  font-size: 13px;
}

.make-owner {
  background: #009CAA;
  float: right;
  position: relative;
  top: 10px;
}

.plus-button {
  background: #437AF7;
  border: 0;
  border-radius: 50%;
  bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #fff;
  height: 61px;
  outline: none;
  position: fixed;
  right: 350px;
  width: 60px;
}

/*--------organizationinfo--------*/

.organization-info {
  background-color: #FAFAFA;
  float: left;
  height: 100%; 
  overflow-y: scroll;
  padding: 20px 25px 30px;
  width: 20%;
}

.organization-info h1 { 
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.organization-info h3 {
  font-weight: 200;
  margin:5px 0;
}

.organization-contact span {
  margin: 10px 5px;
}

.contact-info {
  display: inline-block;
  margin: 0 5px;
  width: 80%;
  vertical-align: top;
}

.map-image {
  margin-top: 20px;
  width: 100%;
}

.edit-button {
  background-color: #FFA500;
  float: right;
  margin-top: 15px;
}

.delete {
  background-color: #FF0012;
  margin: 25px 20px;
}

.transfer-ownership {
  border-bottom: 1px solid #ccc;
  margin: 10px 0 15px 10px;
  width: 100%;
}

.form-info {
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #666;
  font-size: 15px;
  margin: 10px 0 15px 10px;
  width: 100%;
}

.owner-button {
  background-color: #009BAA;
  float: right;
  margin: 20px 0;
}





