//==========color============//

$transparent: transparent;
$white: #fff;
$black: #000;
$light-brown: #ecebeb;
$light-black: rgba(0, 0, 0, .2);

//=========fonts============//
$font-24: 24px;
$font-22: 22px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
