//==========color============//

$transparent: transparent;
$white: #fff;
$background-white: #eee;
$black: #000;
$blue: #2e3a4d;
$light-blue: #5c8bd3;
$light-brown: #ecebeb;
$light-black: rgba(0, 0, 0, .2);
$border-grey: #ccc;
$light-grey: #f7f7f7;
$light-black: rgba(0, 0, 0, .2);
$grey: #4a5469;
$brown: #6b3a2b;
$orange: #ff9478;
$dark-blue: #4742b7;

//=========fonts============//
$font-30: 30px;
$font-24: 24px;
$font-22: 22px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;


