body,
html {
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
button,
input,
select,
textarea,
table tr td {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: $black;
  text-decoration: none;
}

h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}
p,
ul li,
a,
button,
input,
label,
select,
textarea,
table tr td {
  font-size: 16px;
}

button {
  cursor: pointer;
}

input {
  border: 0;
  outline: none;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button {
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  outline: none;
  padding: 0 10px;
  text-transform: uppercase;
}

.flat-button {
  border: 0;
  background-color: $transparent;
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

